extends layouts/main-layout.pug

block content
    if !profileUser
        span Check your URL 
    else
        script.  
            var profileUserId = '!{profileUser._id}';
            var selectedTab = '!{selectedTab}';
        - followerCount = profileUser.followers.length
        - followingCount = profileUser.following.length

        .prfileHeaderContainer
            .coverPhotoSection

                .coverPhotoContainer
                    if profileUser.coverPhoto 
                        img(src=profileUser.coverPhoto,width="100%",  alt="User Cover Photo")

                    if profileUser._id == userLoggedIn._id
                        button.coverPhotoButton(data-toggle="modal" , data-target="#coverPhotoUploadModal") 
                            i.fas.fa-camera

                .userImageContainer 
                    img(src=profileUser.profilePic, alt="User Profile Image")

                    if profileUser._id == userLoggedIn._id
                        button.profilePictureButton(data-toggle="modal" , data-target="#imageUploadModal") 
                            i.fas.fa-camera

            .profileButtonsContainer
                if profileUser._id != userLoggedIn._id
                    a.profileButton(href=`/messages/${profileUser._id}`) 
                        i.fas.fa-envelope
                    - var profileUserId = profileUser._id.toString()
                    - if (userLoggedIn.following && userLoggedIn.following.includes(profileUserId))
                        +createFollowButton(profileUser,true)
                    - else 
                        +createFollowButton(profileUser,false)
            .userDetailsContainer 
                span.displayName #{profileUser.firstName} #{profileUser.lastName}
                span.username @#{profileUser.username} 
                span.description #{profileUser.description} 

                .followersContainer
                    a(href=`/profile/${profileUser.username}/following`)
                        span.value #{followingCount}
                        span Following 
                    a(href=`/profile/${profileUser.username}/followers`)
                        span#followersValue.value #{followerCount}
                        span Followers
        .tabsContainer 
            +createTab("Posts", `/profile/${profileUser.username}`, selectedTab != 'replies' && selectedTab != 'messages')
            +createTab("Replies", `/profile/${profileUser.username}/replies`, selectedTab == 'replies')
            //- +createTab("Replies", `/profile/${profileUser.username}/replies`, selectedTab == 'messages')
        .postsContainer

        +createPostModals(userLoggedIn)
        +createImageUploadModal()
        +createCoverPhotoUploadModal()

block scripts 
    script(src="/js/profile.js") 
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
