mixin createPostForm(userLoggedIn)
    .postFormContainer 
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="user's profile picure")
        .textAreaContainer 
            textarea#postTextarea(placeholder="what's happening?")
            .button
                button#submitPostButton(disabled="") Post
mixin createReplyModal(userLoggedIn)
    #replyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#replyModalLabel.modal-title Reply
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    #originalPostContainer 
                    .postFormContainer 
                        .userImageContainer
                            img(src=userLoggedIn.profilePic, alt="user's profile picure")
                        .textAreaContainer 
                            textarea#replyTextarea(placeholder="what's happening?")
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button#submitReplyButton.btn.btn-primary(type='button',disabled="") Save changes
mixin createDeleteModal()
    #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deleteModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#deleteModalLabel.modal-title Delete the post?
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    p You won't be able to delete this.
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button#submitDeleteButton.btn.btn-primary(type='button') Delete
mixin createPostModals(userLoggedIn)
    +createReplyModal(userLoggedIn)
    +createDeleteModal()   

mixin createFollowButton(user,isFollowing)
    - text = isFollowing ? 'Following' : 'Follow'
    - buttonClass = isFollowing ? "followButton following" : "followButton"
    button(class=buttonClass,data-user=user._id) #{text}

mixin createTab(name, href, isSelected)
    - className = isSelected ? "tab active" : "tab"
    a(href=href, class=className)
        span #{name} 


mixin createImageUploadModal(userLoggedIn)
    #imageUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='imageUploadModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#imageUploadModalLabel.modal-title Upload a new profile picture
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    input#filePhoto(type="file",name="filePhoto")
                    .imagePreviewContainer 
                        image#imagePreview(width="100%")
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#imageUploadButton.btn.btn-primary(type='button') Save

mixin createCoverPhotoUploadModal(userLoggedIn)
    #coverPhotoUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='coverPhotoModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#coverPhotoModalLabel.modal-title Upload a new cover photo
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    input#coverPhoto(type="file",name="filePhoto")
                    .imagePreviewContainer 
                        image#coverPreview(width="100%")
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#coverPhotoUploadButton.btn.btn-primary(type='button') Save